<!DOCTYPE html>
<head>
  <meta content='Which Friday?' name='title'>
  <meta content="What's going on today in Little Rock. All events are grouped by date of occurrence." name='description'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>Which Friday?</title>
  <link href='static/reset.css' rel='stylesheet' type='text/css'>
  <link href='static/style.css' rel='stylesheet' type='text/css'>
  <meta charset='utf-8'>
</head>
<body class=''>
  <div id='content'>
    <h1 id='title'>Which Friday?</h1>
    <div id='subtitle'>Recurring Events in Little Rock</div>

        {{ $carousel := .CarouselSlice }}

        {{ range $dateString, $events := $carousel }}
            <div class="date-holder {{ oddOrEven }}">


                <h2 class='date full'>{{ formattedDate $dateString }}</h2>
                {{ range $event := $events}}
                {{ if $event.OneTimeOnly }}
                    <!-- daily dancer uses "odd.duplicate" to mark in red -->
                    <!-- we use it here to demarcate events that only happen once-->
                    <div class="message-or-event odd duplicate">
                {{else}}
                    <div class="message-or-event">
                {{end}}
                <h3 class='subject'>{{$event.Name}}</h3>
                    {{$event.Time}}
                        <div class='details hidden'>

                            {{ if $event.Website }}
                                <div class='website'>
                                    <div class='label'>Website:</div>
                                    <a target='_blank' href="{{$event.Website}}">{{.Name}}</a>
                                </div>
                            {{ end }}

                            <div class='time'>
                                <div class='label'>Time:</div>
                                {{$event.Time}}
                            </div>

                            <div class='hostess'>
                                <div class='label'>Host:</div>
                                {{$event.Hostess}}
                            </div>
                            <div class='location'>
                                <div class='label'>Venue:</div>
                                <div class='venue-and-address'>
                                    <div class='venue'>{{$event.Venue}}</div>
                                    <div class='address'>
                                        <a target='_blank' href="{{$event.AddressUrl}}">{{$event.Address}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class='time'>
                                <div class='label'>Frequency:</div>
                                {{$event.Frequency}}
                            </div>
                        </div>
                    </div>
                {{end}}

            </div>

        {{end}}
    </div>
    <div class='footer'>
        created by
        <a href='http://info.jackdesert.com' rel='nofollow' target='_blank'>Jack Desert</a>
    </div>
    <!-- Use CDN -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='static/dancer.js'></script>
</body>
