{{ $carousel := .CarouselSlice }}

{{ range $dateString, $events := $carousel }}
    <div class='date-holder even'>
        <h2 class='date full'>{{ formattedDate $dateString }}</h2>
        {{ range $event := $events}}
            <div class='message-or-event'>
                <h3 class='subject'>{{$event.Name}}</h3>
                <div class='details hidden'>

                    <div class='website'>
                        <div class='label'>Website:</div>
                        <a href="{{$event.Website}}">{{.Name}}</a>
                    </div>

                    <div class='time'>
                        <div class='label'>Time:</div>
                        {{$event.Time}}
                    </div>

                    <div class='hostess'>
                        <div class='label'>Host:</div>
                        {{$event.Hostess}}
                    </div>
                    <div class='location'>
                        <div class='label'>Venue:</div>
                        {{$event.Venue}}
                    </div>
                </div>
            </div>
        {{end}}

    </div>

{{end}}
